<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">
  
  <display-name>Online Voting System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/error/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/views/error/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/views/error/database.jsp</location>
  </error-page>


  <!-- Admin filter TEMPORARILY DISABLED for development testing -->
  <!-- <filter>
    <filter-name>adminAuthFilter</filter-name>
    <filter-class>com.bascode.admin.AdminAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminAuthFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping> -->

  <!-- Admin servlets mapped to servlet classes -->
  <servlet>
    <display-name>contesters</display-name>
    <servlet-name>contesters</servlet-name>
    <servlet-class>com.bascode.admin.ContestersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contesters</servlet-name>
    <url-pattern>/admin/contesters</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>com.bascode.admin.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/admin/dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>pending-approvals</display-name>
    <servlet-name>pending-approvals</servlet-name>
    <servlet-class>com.bascode.admin.PendingApprovalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pending-approvals</servlet-name>
    <url-pattern>/admin/pending-approvals</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>voters</display-name>
    <servlet-name>voters</servlet-name>
    <servlet-class>com.bascode.admin.VotersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voters</servlet-name>
    <url-pattern>/admin/voters</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>voter-stats</display-name>
    <servlet-name>voter-stats</servlet-name>
    <servlet-class>com.bascode.admin.VoterStatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voter-stats</servlet-name>
    <url-pattern>/admin/voter-stats</url-pattern>
  </servlet-mapping>

  <!-- Dev helper servlet -->
  <servlet>
    <display-name>dev-login</display-name>
    <servlet-name>dev-login</servlet-name>
    <servlet-class>com.bascode.admin.DevLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dev-login</servlet-name>
    <url-pattern>/dev-login</url-pattern>
  </servlet-mapping>

</web-app>